/* styling lesson */

/* Universal Selector */
* {
  text-align: center;
  color: darkslategrey;
}

/* element selectors */

/* header */
header {
  padding: 0px;
    text-align: center;
}

/* footer */
footer {
    padding: 0px;
    text-align: center;
}

/* body */
body {
    font-family: Arial, sans-serif; background-color: lightblue;
} 

main {
  margin: auto;
}

/* text */

h1 {
  color: white;
  text-align: centre;
}

h2 {
  color: darkgreen;
  text-align: left;
  font-size: 15px;
}

h3 {
  color: lightseagreen;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}

p {
  color: darkgreen;
  text-align: left;
}

/* images */

img {
  border-radius: 12px;
  border: 3px solid darkslategrey;
}


/* Class seletor */

.banner1 {
  border-radius: 12px;
    background-color: darkslategray;
    padding: 10px;
    margin: 30px;
    text-align: center;
    border: 3px solid lightseagreen;
}

.banner2 {
  border-radius: 12px;
    background-color: darkslategray;
    padding: 10px;
    margin: 30px;
    text-align: center;
    border: 3px solid whitesmoke;
}

.block {
    border-radius: 12px;
    background-color: white;
    padding: 10px;
    margin: 30px;
    text-align: center;
    border: 3px solid black;
}

.left {
  text-align: left;
  color: darkslategrey;
}

.button-link {
  display: inline-block; /* Allows padding and margin */
  padding: 10px 20px;
  margin: 10px;
  background-color: darkolivegreen;
  color: white;
  text-decoration: none; /* Removes underline */
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer; /* Changes cursor to a pointer */
  text-align: center;
}

.button-link:hover {
  background-color: lightseagreen;
}


/*this is the actual box*/
.container {
    display: flex;

    /* TODO: what happens when we change this? */
    /* row to column stacks boxes on top of each other */
    flex-direction: row;
    width: 80%;
    height: 300px;
    background-color: #ddd;
    border: 2px solid #ccc;

    /* Flexbox alignment properties */
    justify-content: space-around;
    /* TODO: flex-start, center, space-between */
    align-items: space-between;
    /* TODO: flex-start, center, flex-end */
}

/*the things inside the box using the divs in the html*/
.box {
    flex: 0 0 100px;
    height: 100px;
    background-color: #4CAF50;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #333;
    font-size: 18px;
}

/* Id Selector */

#title1 {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: lightseagreen;
}



/* other stuff */

/* Items are currently stacked vertically but can be side by side */
.item {
    display: inline;
    padding: 10px;
    background-color: lightgreen;
    margin: 5px;
}