/* styling lesson */
body {
    font-family: Arial, sans-serif; background-color: lightblue;
}

header {
    background-color: lightblue;
    padding: 20px;
    text-align: center;
}

/* element selector */
p {
  color: darkblue;
  text-align: left;
}

/* Id Selector */

#para1 {
  text-align: center;
  color: darkmagenta;
}

/* Class seletor */

.center {
  text-align: center;
  color: darkslategrey;
}
.left {
  text-align: left;
  color: darkslategrey;
}

/* footer */
footer {
    background-color: lightgray;
    padding: 10px;
    text-align: center;
}


/* Items are currently stacked vertically but can be side by side */
.item {
    display: inline;
    padding: 10px;
    background-color: lightgreen;
    margin: 5px;
}